/* Layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    width: 900px;
    margin: 40px auto;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 300;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}